* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


p {
    background-color: darkgray;
}

.top-bar {
    background: lightseagreen;
    height: 50px;
    padding: 10px;
}

.top-bar-item-container {
    width: 900px;
    height: 100%;
    margin: 0 auto;
}

.top-bar button {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    float:left;
    color: rgb(255, 255, 255);
    background-color: lightseagreen;
    border: none;
    border-radius: 30px;
    margin: .2em .5em;
    padding: .2em;
    width: 5%;
}

.top-search-bar {
    display: block;
    float: left;;
    width: 30%;
}

.top-bar button:hover  {
    background-color: rgb(43, 83, 81);
    border-radius: 40px;
}

    
